<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>avinderd</title>
    <link rel = "stylesheet" href = "{{get_url(path='style.css')}}">
</head>

<body>
    <header>
        <h1> <a href = "{{get_url(path="")}}"> I'm Probably Not Asleep </a></h1>
        <h3 class = "home"> <a href = "{{get_url(path="")}}"> Home </a></h3>
        <h3> <a href = "{{get_url(path="projects")}}"> Projects </a></h3>
        <h3> <a href = "{{get_url(path="blog")}}"> Blog </a></h3>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div id="spacer"></div>
    <hr class = "below-footer">
    <footer>
        <a href = "mailto:ArvinderDhan@gmail.com"><img src = "{{get_url(path='mail.svg')}}"/></a>
        <a href = "https://discordapp.com/users/234034789206720512"><img src = "{{get_url(path='discord.svg')}}"/></a>
        <a rel="me" href="https://discuss.systems/@JohnBenber"></a>
    </footer>
</body>

</html>
